[flake8]
ignore = E501, W503

exclude =
    *.egg,
    .bzr,
    .eggs,
    .git,
    .hg,
    .nox,
    .svn,
    .tox,
    .venv,
    .vscode,
    __pycache__,
    build,
    dist,
    output,
    venv,
