# Python
venv/
__pycache__/
*.pyc
*.egg-info/
build/

# Dagster
output/
local_storage/
tmp*/
.tmp*/

#
.env
*.log

# testing
.coverage
.coverage*
coverage.xml
*-report.xml
.pytest_cache/
coverage_baseline.xml

config/*.json