# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS
.DS_Store
Thumbs.db

# Dependency directories
node_modules/

# Build output
dist
dist-ssr
*.local

# IDEs
.idea
# .vscode
.yarn


# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Data directories (specific to this app)
data_in_progress/
data_validated/
data_source/
public/images/
data_migrated/
app_data.db

# Tests
/coverage
#

update.sh

# Dagster related directories
dagster_card_processor/

# Copied PDF.js worker
public/pdf.worker.min.js

# Symlinked pdfjs-dist build directory
src/client/pdfjs-build

# Data directories (new for single piece flow)
data_processed_batches/
